<html>
<head>
    <title>Flexbox 0</title>
    <link rel="stylesheet" href="flexbox.css"/>
</head>

<body>
<header>
    <h1>Sample Flexbox Example</h1>
</header>
<section>
    <article>
        <h2>o rato 1</h2>
        <p>o rato roeu a roupa do Rei de Roma</p>
    </article>

    <article>
        <h2>o rato 2</h2>
        <p>o rato roeu a roupa do Rei de Roma</p>
    </article>

    <article>
        <div id="container">
            <button>Smile</button>
            <button>Laugh</button>
            <button>Wink</button>
            <button>Shrug</button>
        </div>
        <div id="blushButton">
            <button>Blush</button>
        </div>
        <article id="terceiro">
            <p>o rato roeu a roupa do Rei de Roma</p>
        </article>
    </article>

</section>
</body>
</html>